<h1>Log In</h1>

<%= form_with url: login_path do |f| %>
  <p>
    <%= label_tag :email %><br>
    <%= email_field_tag :email, params[:email], required: true %>
  </p>
  <p>
    <%= label_tag :password %><br>
    <%= password_field_tag :password, nil, required: true %>
  </p>

  <p><%= f.submit "Log In" %></p>
<% end %>