<h1>Sign Up</h1>

<%= form_with model: @user, url: signup_path do |f| %>
  <% if @user.errors.any? %>
    <div style="color:red;">
      <%= pluralize(@user.errors.count, "error") %> prevented saving:
      <ul>
        <% @user.errors.full_messages.each { |m| %><li><%= m %></li><% } %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email, required: true %>
  </p>

  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password, required: true %>
  </p>

  <p>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, required: true %>
  </p>

  <p>
    <%= f.label :favorite_sport_id, "Favorite sport(option)" %><br>
    <%= f.collection_select :favorite_sport_id, Sport.order(:name), :id, :name, include_blank: true %>
  </p>

  <p>
    <%= f.label :role %><br>
    <%= f.select :role, User.roles.keys.map { |r| [r.titleize, r] } %>
  </p>

<div style="margin-bottom: 16px;">
  <p><%= f.submit "Create Account" %></p>
</div>  
<% end %>

<p>Already have an account? <%= link_to "Log in", login_path %></p>
