<h1>All Events</h1>
<table border="1" cellpadding="6" cellspacing="0">
  <thead>
    <tr>
      <th>Sport</th>
      <th>Location</th>
      <th>Event Time</th>
      <th>Players Needed</th>
      <th>Host</th>
      <th>Description</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.sport.name %></td>
        <td><%= event.location %></td>
        <td><%= event.event_time.strftime("%Y-%m-%d %I:%M %p") if event.event_time %></td>
        <td><%= event.players_needed || "N/A" %></td>
        <td><%= event.host.name %></td>
        <td><%= truncate(event.description, length: 40) %></td>
        <!-- Show column -->
        <td>
          <%= link_to "Show", event_path(event) %>
        </td>

        <!-- Edit column -->
        <td>
          <% if current_user&.admin? || current_user&.id == event.host_id %>
            <%= link_to "Edit", edit_event_path(event) %>
          <% else %>
            <span style="color: gray;">Not allowed</span>
          <% end %>
        </td>

        <!-- Delete column -->
        <td>
          <% if current_user&.admin? || current_user&.id == event.host_id %>
            <%= button_to "Delete", event_path(event),
                  method: :delete,
                  data: { turbo_confirm: "Are you sure you want to delete this event?" },
                  class: "btn btn-danger",
                  form: { class: "button_to" } %>
          <% else %>
            <%= button_to "Delete", "#",
                  data: { turbo_confirm: "🚫 You cannot delete this event. Only the host or an admin can." },
                  class: "btn btn-danger",
                  form: { class: "button_to" } %>
          <% end %>
    <% end %>
  </tbody>
</table>

<br>
<div style="margin-bottom: 16px;">
  <%= link_to " Create New Event", new_event_path, class: "btn" %>
</div>
